body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-style: normal
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

.type_earphone>h2 {
    color: #180202;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 70px;
}

.collection_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 67px;
    margin-bottom: 130px;
}

.collect_img {
    display: flex;
    gap: 325px;
}

.img1 {
    position: relative;
    z-index: 1;
}

.img2 {
    position: absolute;
    margin-left: 201px;
    margin-top: -90px;
    z-index: 2;
}

.unique {
    transform: rotate(180deg);
}

.features {
    display: flex;
    gap: 87px;
    margin-bottom: 89px;
}

.feature_left {
    width: 50%;
}

.feature_title {
    color: #180202;
    font-size: 44px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 60px;
}

.three_feat {
    display: flex;
    gap: 20px;
    margin-bottom: 41px;
}

.first {
    width: 96px;
    height: 96px;
    border: 4px solid #F68080;
    border-radius: 50px;

}

.second {
    width: 69px;
    height: 69px;
    border: 2px solid #FDD8D8;
    border-radius: 50px;
    margin: 13px 14px 14px 13px;

}

.second>img {
    margin: 22px 16px 21px 18px;
}

.battery_text {
    color: #180202;
    font-size: 31px;
    font-weight: 700;
    line-height: 140%;
}

.codec {
    color: #180202;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    opacity: 0.7;
}

.lern {
    color: #FF4948;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    text-decoration: none;
}

.feature_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_title {
    color: #180202;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    line-height: 130%;
}

.lorem {
    color: #180202;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.7;
    margin-bottom: 93px;
}

.headphone_card {
    position: relative;
    width: 332px;
    height: 331px;
    border-radius: 30px;
    background: #FFE5EE;
    margin-bottom: 35px;
}

.headphone_card>img {
    position: absolute;
    margin-left: 30px;
    margin-top: -50px;
}

.span1 {
    position: absolute;
    background-color: #FFE5EE;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 6px solid white;
    padding: 18px;
    margin-left: 280px;
    margin-top: -30px;
}

.stars {
    display: flex;
    align-items: center;
    gap: 104px;
    margin-bottom: 16px;
}

.stars>p {
    color: #180202;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

.read {
    display: flex;
    gap: 125px;
}

.read>p:first-child {
    color: #180202;
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
}

.read>p:last-child {
    color: #180202;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 140%;
}

.holder {
    display: flex;
    gap: 63px;
    margin-bottom: 130px;
}

.card2 {
    background-color: #E5F1FF;
}

.span2 {
    position: absolute;
    background-color: #E5F1FF;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 6px solid white;
    padding: 18px;
    margin-left: 280px;
    margin-top: -30px;
}

.card3 {
    background: #E5FFFB;
}

.span3 {
    position: absolute;
    background-color: #E5FFFB;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 6px solid white;
    padding: 18px;
    margin-left: 280px;
    margin-top: -30px;
}

.box_holder {
    display: flex;
    gap: 17px;
    margin-bottom: 152px;
}

.right_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_title {
    color: #000;
    font-size: 44px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 48px;
}

ul {
    margin-left: 20px;
}

.hr_box {
    width: 292px;
    height: 1px;
    opacity: 0.1;
    background: #000;
    margin-bottom: 20px;
}

li {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.box_text {
    color: #000;
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
    opacity: 0.7;
}

.subscribe_frame {
    width: 712px;
    height: 292px;
    border-radius: 20px;
    background: #FFF4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 130px;
}

.subscribe_frame>h1 {
    color: #180202;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 6px;
}

.subscribe_frame>p {
    color: #180202;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.7;
    margin-bottom: 36px;
}

form {
    display: flex;
    width: 503px;
    height: 61px;
    align-items: center;
    padding-left: 30px;
    gap: 10px;
    border-radius: 73px;
    background: #FFF;
    position: relative;
}

input {
    width: 207px;
    border: none;
}
input:focus{
    outline: none;
    color: blue;
    font-size: 20px;
}

input::placeholder {
    color: #180202;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.3;
}

.btn2 {
    width: 167px;
    height: 61px;
    position: absolute;
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 50px;
    border: none;
    background: #FF4948;
    margin-left: 336px;
}

.btn2>a {
    text-decoration: none;
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    line-height: 140%;
}

header {
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
    height: 850px;
    margin-bottom: 130px;
}
.top_header{
    margin-bottom: 70px;
}

.top_header>img {
    margin-top: 34px;
}

.middle {
    display: flex;
    align-items: center;
}

.supheader {
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 2.2px;
    text-transform: uppercase;
}

.move {
    color: #FFF;
    font-size: 99.17px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.summa {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 35px;
}

.summa_text {
    color: #FFF;
    font-size: 44px;
    font-weight: 700;
    line-height: 130%;
}

.summa_subtext {
    color: #FFF;
    font-size: 31px;
    font-weight: 500;
    line-height: 140%;
    text-decoration-line: strikethrough;
    opacity: 0.7;
}

.btn1 {
    display: flex;
    width: 191px;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 62px;
    background: #FFF;
    border: none;
}
.btn1>a{
    text-decoration: none;
    color: #FF4948;
    font-size: 22px;
    font-weight: 500;
    line-height: 140%;
}